/* NO RESULT */
.react-reveal.no-result {
    height: calc(100% - 20vh);
}

.no-result {
    margin: 0;
    padding: 0;
    margin: 10vh auto;
    padding: 10vh 0;
    text-align: center;
}

.no-result h3 {
    font-size: 24px;
}

.no-result p {
    font-size: 16px;
    margin: 0;
}

@media (max-width: 552px) {
    .react-reveal.no-result {
        height: calc(1200px - 20vh);
    }

    .no-result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}