@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  text-decoration: none !important;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 300;
}

html {
  scroll-behavior:smooth;
  background-color: #fff !important;
  color: #1E1C24;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  overflow-x: hidden !important;
}

#root {
  width: 100vw !important;
}

a,
button {
  cursor: pointer !important;
  outline: none;
}

a:active, 
a:focus {
  -moz-outline-style: none !important; 
  border: none !important;
  outline-style: none !important;
  outline: 0 !important;
}

input,
select,
textarea,
button {
  -moz-outline: none !important; 
  -moz-outline-style: none !important; 
  outline: none !important;
  outline-width: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  -moz-outline: none !important; 
  box-shadow: none!important;
  outline: none !important;
  outline-width: 0 !important;
  outline: 0 !important;
}

::selection {
  background-color: #FFE7AA !important;
}
